@model HomeController.ListModel
<div id="crossbar">
    <div class="fixed-width">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent quam ipsum, laoreet non luctus sit amet, varius sit amet leo. Nullam vel ante massa, at ultricies magna. Nulla sodales tempus mi, id convallis metus gravida eget. Fusce ac magna lacus, sed bibendum lacus. Maecenas consectetur ullamcorper ligula eu tristique. Fusce interdum viverra scelerisque. Nulla interdum vulputate volutpat. Proin dapibus molestie sem, quis dignissim enim mollis eu. Curabitur nisi sapien, sodales nec fringilla ut, blandit at purus. Cras gravida mi non sem scelerisque tristique.
    </div>
</div>

<div id="main" class="text-links">
    <h1>Entries</h1>
    
    <p>
        @Html.ActionLink("Add new entry", "Edit", "Entry")
    </p>
    <br />
    
    <ul>
    @foreach (var entry in Model.Entries) {
        <li>@entry.Title - @Html.ActionLink("Edit", "Edit", "Entry", new { id = entry.Key }, null)</li>
    }
    </ul>
</div>