@model HomeController.ListModel
@{
    View.Title = "Chris Fulstow - ASP.NET Developer";
}    
<article>

    @if (Model.IsAdmin)
    {
        <div class="admin-box">
            Admin:
            @Html.ActionLink("New Entry", "Edit", "Entry")
        </div>
    }

    <h1>Latest Posts</h1>
        
    <ul>
    @foreach (var entry in Model.Entries)
    {
        <li>
            @entry.Title
            - @Html.ActionLink("View", "Show", "Entry", new { id = entry.Key }, null)
            - @Html.ActionLink("Edit", "Edit", "Entry", new { id = entry.Key }, null)
        </li>
    }
    </ul>

</article>