@model HomeController.IndexModel
<article>

    @if (Model.Base.IsAdmin)
    {
        <div class="admin-box text-links">
            Admin:
            @Html.ActionLink("New Entry", "Add", "Entry")
        </div>
    }

    <h1>Latest Posts</h1>
        
    <ul class="entry-list text-links">
    @foreach (var entry in Model.Entries)
    {
        <li>
            @Html.ActionLink(entry.Title, "Show", "Entry", new { id = entry.Key }, null)
            <div class="date">@entry.Date</div>
        </li>
    }
    </ul>

</article>