<article class="entry text-links">

    <h1>Thanks for the message</h1>

    <p>I'll get back to you as soon as possible.</p>

    <p>@Html.ActionLink("« Home", "Index", "Home")</p>

</article>